@import url('../variables.css');

.section-title {
     position: relative;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 10px;
    border: 1px solid var(--color-grisMetalico);
    border-radius: 10px;
    padding-bottom: 10px;
  
}

.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 1.5px;
  background: #555;
  margin: 8px auto 0;
  border-radius: 4px;
}



.stats-container {
     display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-grisOscuroTranslucido2);
    padding: 2rem;
    border: solid var(--color-grisMetalico) 1px;
    border-radius: 8px;
    margin-left: 10px;
}

.stat-card {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1rem 2rem;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: scale(1.05);
  border-color: #555;
}

.stat-card h4 {
  font-size: 1.1rem;
 color: var(--color-blancoApagado);
  margin-bottom: 0.3rem;
  letter-spacing: 0.5px;

}

.stat-card p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-purpuraClaro);
}
